{% extends "layout.html" %}

{% block title %}
    Login
{% endblock %}

{% block body %}
    <div class="topdivide"></div>
    <h3 class="centered"> Log in to your Zoroaster account</h3>
    <br>
    <div class = "error">
        {{ error }}
    </div>
    <br>
    <form class = "centered" action="/login" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
        </div>
        <button class="btn btn-primary centred" type="submit">Log in</button>
    </form>
{% endblock %}