{% extends "layout.html" %}

{% block body %}
    <div class="topdivide"></div>
    <div class = "centered" style="color:#FF0000">
    {{ error }}
    </div>
    <div class="container centered">
        <p> The idea for Zoroaster was inspired by a mobile application called <strong> Cove</strong>, developed by Humane Engineering.
            You can find the details of the app<strong><a class="nav-link reference" href="https://cove-app.com/">here</a></strong>
        The app is only available in the United Kingdom: if you're there, check it out in the App Store!</p>
    <p>The technical side of the project was inspired by Problem Set 9 ("Finance") of the CS50 course available at Harvard University.
        The course is available to everyone for free <strong><a class="nav-link reference" href="https://www.edx.org/plp/introduction-computer-science-harvardx-cs50x?utm_source=google&utm_campaign=19339199037&utm_medium=cpc&utm_term=harvardx%20computer%20science&hsa_acc=7245054034&hsa_cam=19339199037&hsa_grp=145482383700&hsa_ad=671177474113&hsa_src=g&hsa_tgt=kwd-639875277756&hsa_kw=harvardx%20computer%20science&hsa_mt=e&hsa_net=adwords&hsa_ver=3&gclid=EAIaIQobChMI-amavaqngQMVEk-RBR1KYwmOEAAYASAAEgJc1vD_BwE">here</a></strong>
    </p>
    <p>The music used for the notes are single notes from Ableton 13, accessed using a free 30-day trial.
        The names for the notes are the same ones used in Zoroaster.
    </p>
    <p>
        The symbols of the notes, as well as the logo, have been taken from the SVG Repo. You can find it <a class="nav-link reference" href="https://www.svgrepo.com/"><strong>here</strong></a>
    </p>
    <p>
        A huge thank you especially to CS50's Duck Debugger, without whom this project would be impossible! :)
    </p>
    </div>
    <br> <br>
{% endblock %}